<div class="container">
  <div class="row">
    <div class="col-md-2 col-sm-4 col-xs-12">
      <div class="text-center">
        <% if @user.avatar? %>
          <%= image_tag @user.avatar, width: '100px', alt: @post.user.name,  class: "rounded mt-1"  %>
        <% else %>
            <img src="https://placeholdit.imgix.net/~text?txtsize=21&txt=No%20User%20Image&w=100&h=100" class="rounded mt-1">
        <% end %>
        <h2><%= @user.name %></h2>
      </div>  
    </div>
    <div class="col-md-10 col-sm-8 col-xs-12">
        <%= @user.intro %>
        <br>
        <% if current_user == @user %>
          <%= link_to 'Edit Profile', edit_user_path(current_user), class: "btn btn-outline-primary" %>
        <% end %>
    </div>
  </div>
  <%# user's nav  %>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to'My Post', user_path(@user), class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to'My Comment',comment_user_path(@user), class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to'My Collect',collection_user_path(@user), class: "nav-link active" %>
    </li>
    <li class="nav-item">
      <%= link_to'My Draft', draft_user_path(@user), class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to'My Friend', friend_user_path(@user), class: "nav-link" %>
    </li>
  </ul>
  <%#post list  %>
  <table class="table table-sm">
  <tbody>
    <% @posts.each do |post| %>
      <tr class='row'>
        <td class="col-6"><%= link_to post.title, post_path(post), class: "ml-4" %></td>
        <td class="col-1"><%= post.status == true ? 'Draft' : 'Publish' %></td>
        <td class="col-2"><%= post.created_at.strftime("%Y-%m-%d") %></td>
        <% if current_user == @user %>
          <td class="col-2">
            <%= render partial: "shared/collect", locals: {post: post} %> 
          </td>
        <% end %>  
      </tr>
    <% end %>  
  </tbody>
</table>

</div>