<div class="container">
<%# Category link list  %>
  <nav class="nav">
    <%= link_to 'All', root_path, class:"nav-link" %>
    <% @categories.each do |category| %>
      <%= link_to category.name, category_path(category), class: category == @category ? "nav-link btn btn-outline-primary" : "nav-link" %>
    <% end %>
  </nav>
<%# post table  %>
  <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"><%= link_to 'Replies count▼', most_replies_category_path(@category) %></th>
      <th scope="col">Title</th>
      <th scope="col"><%= link_to 'Last replied at▼', last_replied_category_path(@category) %></th>
      <th scope="col"><%= link_to 'Viewed count▼', most_viewed_category_path(@category) %></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "shared/post_list_tbody", locals: {posts: @posts} %>
  </tbody>
</table>
<div class="col-12"><%= paginate @posts, theme: 'twitter-bootstrap-4' %></div>
</div>
